$f_base: 'Merriweather', serif, Arial, sans-serif;
$f_base2: 'Merriweather Bold', serif, Arial, sans-serif;


//Colors
$primary-bg: #F6F3F3;
$secondary-bg: #ECEAEA;
$white: #fff;
$dark-bg: #403432;
$dark-opacity-bg: #776763;
$disabled-bg: #C1B4B1;
$success-bg: #5B3A32;


$text-color: #343030;
$text-reverse-color: #555555;
$text-color-pale: #A0A0A0;
$placeholder-color: #9F9F9F;

$border-color: #E1E1E1;
$border-color-active: #B5B5B5;

$font-size-xl: 24px !default;
$font-size-lg: 18px !default;
$font-size-md: 16px !default;
$font-size-xs: 14px !default;
$font-size-xxs: 10px !default;

$font-size-base: $font-size-md !default;


$line-height-xl: 1.5 !default;
$line-height-lg: 1.4 !default;
$line-height-md: 1.33 !default;


$font-bold: bold;
$font-regular: 400;
$font-light: 300;
